/* /Pages/Comments.razor.rz.scp.css */
.container[b-k454xubtlb] {
    max-width: 640px;
    margin: 30px auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}
.comment[b-k454xubtlb] {
    display: block;
    transition: all 1s;
}
.commentClicked[b-k454xubtlb] {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
}
.container textarea[b-k454xubtlb] {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    margin-top: 15px;
}
button.primaryContained[b-k454xubtlb] {
    background: #016ba8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
}
button.primaryContained:hover[b-k454xubtlb] {
    background: #9201A8;
}
/* /Pages/Index.razor.rz.scp.css */
.container[b-thay4ttibw] {
    max-width: 640px;
    margin: 30px auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}
.comment[b-thay4ttibw] {
    display: block;
    transition: all 1s;
}
.commentClicked[b-thay4ttibw] {
    min-height: 0px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 10px
}
.container textarea[b-thay4ttibw] {
    width: 100%;
    border: none;
    background: #E8E8E8;
    padding: 5px 10px;
    height: 50%;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #016BA8;
    transition: all 0.5s;
    margin-top: 15px;
}
button.primaryContained[b-thay4ttibw] {
    background: #016ba8;
    color: #fff;
    padding: 10px 10px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 1s all;
    font-size: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
}
button.primaryContained:hover[b-thay4ttibw] {
    background: #9201A8;
}
/* /Pages/Login.razor.rz.scp.css */
.note[b-8urcz78uys]
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.div-part[b-8urcz78uys] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 300px;
    height: 500px;
    background: white;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
}

.div-part:hover[b-8urcz78uys] {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.div-part:hover[b-8urcz78uys]::before, .div-part:hover[b-8urcz78uys]::after {
    display: block;
    content: '';
    position: absolute;
    width: 300px;
    height: 500px;
    background: #FDA8CF;
    border-radius: 25px;
    z-index: -1;
    animation: 3s clockwise-b-8urcz78uys infinite;
}

.div-part:hover[b-8urcz78uys]:after {
    background: #F3CE5E;
    animation: 5s counterclockwise-b-8urcz78uys infinite;
}
@keyframes clockwise-b-8urcz78uys {
    0% {
        top: -5px;
        left: 0;
    }
    12% {
        top: -2px;
        left: 2px;
    }
    25% {
        top: 0;
        left: 5px;
    }
    37% {
        top: 2px;
        left: 2px;
    }
    50% {
        top: 5px;
        left: 0;
    }
    62% {
        top: 2px;
        left: -2px;
    }
    75% {
        top: 0;
        left: -5px;
    }
    87% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise-b-8urcz78uys {
    0% {
        top: -5px;
        right: 0;
    }
    12% {
        top: -2px;
        right: 2px;
    }
    25% {
        top: 0;
        right: 5px;
    }
    37% {
        top: 2px;
        right: 2px;
    }
    50% {
        top: 5px;
        right: 0;
    }
    62% {
        top: 2px;
        right: -2px;
    }
    75% {
        top: 0;
        right: -5px;
    }
    87% {
        top: -2px;
        right: -2px;
    }
    100% {
        top: -5px;
        right: 0;
    }
}

/*body {*/
/*    margin: 0;*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-size: 12px;*/
/*    line-height: 1.8em;*/
/*    text-transform: none;*/
/*    letter-spacing: .075em;*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*    text-decoration: none;*/
/*    color: #e7bd74;*/
/*    background-color: rgba(34,28,28);*/
/*    display: block;*/
/*}*/
.title[b-8urcz78uys] {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.form-content[b-8urcz78uys]
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control[b-8urcz78uys] {
    border-radius: 1.5rem;
}
.btnSubmit[b-8urcz78uys]
{
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
h1[b-8urcz78uys] {
    font-family: sans-serif;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    color: hotpink;
    text-transform: uppercase;
    padding-top: 20px;
}
a[b-8urcz78uys] {
    text-decoration: none;
    color: #fff;
}
a:hover[b-8urcz78uys] {
    text-decoration: none;
    color: #fff;
}  
  
/* /Pages/LoginButton.razor.rz.scp.css */
.icon[b-q2zyn7p9dq] {
    width: 30px;
    cursor: pointer;
}
/* /Pages/Profile.razor.rz.scp.css */
.div-part[b-mvrd92dsil] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
}

.div-part:hover[b-mvrd92dsil] {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.div-part:hover[b-mvrd92dsil]::before, .div-part:hover[b-mvrd92dsil]::after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #FDA8CF;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise-b-mvrd92dsil infinite;
}

.div-part:hover[b-mvrd92dsil]:after {
    background: #F3CE5E;
    animation: 2s counterclockwise-b-mvrd92dsil infinite;
}

@keyframes clockwise-b-mvrd92dsil {
    0% {
        top: -5px;
        left: 0;
    }
    12% {
        top: -2px;
        left: 2px;
    }
    25% {
        top: 0;
        left: 5px;
    }
    37% {
        top: 2px;
        left: 2px;
    }
    50% {
        top: 5px;
        left: 0;
    }
    62% {
        top: 2px;
        left: -2px;
    }
    75% {
        top: 0;
        left: -5px;
    }
    87% {
        top: -2px;
        left: -2px;
    }
    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise-b-mvrd92dsil {
    0% {
        top: -5px;
        right: 0;
    }
    12% {
        top: -2px;
        right: 2px;
    }
    25% {
        top: 0;
        right: 5px;
    }
    37% {
        top: 2px;
        right: 2px;
    }
    50% {
        top: 5px;
        right: 0;
    }
    62% {
        top: 2px;
        right: -2px;
    }
    75% {
        top: 0;
        right: -5px;
    }
    87% {
        top: -2px;
        right: -2px;
    }
    100% {
        top: -5px;
        right: 0;
    }
}
/* /Pages/Register.razor.rz.scp.css */
.note[b-4ejsow6zst]
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.div-part[b-4ejsow6zst] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
}

.div-part:hover[b-4ejsow6zst] {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.div-part:hover[b-4ejsow6zst]::before, .div-part:hover[b-4ejsow6zst]::after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #FDA8CF;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
}

.div-part:hover[b-4ejsow6zst]:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
}

/*body {*/
/*    margin: 0;*/
/*    font-family: 'Lato', sans-serif;*/
/*    font-size: 12px;*/
/*    line-height: 1.8em;*/
/*    text-transform: none;*/
/*    letter-spacing: .075em;*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*    text-decoration: none;*/
/*    color: #e7bd74;*/
/*    background-color: rgba(34,28,28);*/
/*    display: block;*/
/*}*/
.title[b-4ejsow6zst] {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.form-content[b-4ejsow6zst]
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control[b-4ejsow6zst] {
    border-radius: 1.5rem;
}
.btnSubmit[b-4ejsow6zst]
{
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
h1[b-4ejsow6zst] {
    font-family: sans-serif;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    color: hotpink;
    text-transform: uppercase;
    padding-top: 20px;
}
a[b-4ejsow6zst] {
    text-decoration: none;
    color: #fff;
}
a:hover[b-4ejsow6zst] {
    text-decoration: none;
    color: #fff;
}  
  
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-1zyi5k7sc3] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-1zyi5k7sc3] {
    flex: 1;
}

.sidebar[b-1zyi5k7sc3] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-1zyi5k7sc3] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-1zyi5k7sc3]  a, .top-row[b-1zyi5k7sc3]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-1zyi5k7sc3]  a:hover, .top-row[b-1zyi5k7sc3]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-1zyi5k7sc3]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-1zyi5k7sc3] {
        display: none;
    }

    .top-row.auth[b-1zyi5k7sc3] {
        justify-content: space-between;
    }

    .top-row[b-1zyi5k7sc3]  a, .top-row[b-1zyi5k7sc3]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-1zyi5k7sc3] {
        flex-direction: row;
    }

    .sidebar[b-1zyi5k7sc3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-1zyi5k7sc3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-1zyi5k7sc3]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-1zyi5k7sc3], article[b-1zyi5k7sc3] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ab70abdmhw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ab70abdmhw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ab70abdmhw] {
    font-size: 1.1rem;
}

.oi[b-ab70abdmhw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ab70abdmhw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ab70abdmhw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ab70abdmhw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ab70abdmhw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ab70abdmhw]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ab70abdmhw]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ab70abdmhw] {
        display: none;
    }

    .collapse[b-ab70abdmhw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
